@model SecureApp.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<h2>Login Page</h2>
@if (ViewBag.Status == null || !ViewBag.Status)
{
    <div>@ViewBag.Message</div>
    <div>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="UserName">UserName : </label>
                @Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Password">Password : </label>
                @Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "password" })
            </div>
            <input type="submit" value="Login" class="btn btn-default" />
        }
    </div>
}
else
{
    <div>@ViewBag.Message</div>
    <div>
        <img src="@ViewBag.BarcodeImageUrl" />
    </div>
    <div>
        Manual Setup Code : @ViewBag.SetupCode
    </div>
    <div>
        @using (Html.BeginForm("TwoFactorAuthenticate", "Home", FormMethod.Post))
        {
            <input type="text" name="CodeDigit" />
            <input type="submit" class="btn btn-success" />
        }
    </div>

}


<!--
    <link rel="stylesheet" href="styles.css">
    <div id="login-main">
        <div>
            <div>
                <img id="login-logo" src="assets/Logo.svg">
            </div>
            <div id="login-title">~ Your one secure way to everything ~</div>
            <div id="loginbox">
                <div id="boxtitle">Welcome</div>
                <div id="formsandtitles">
                  <div class="formtitles">E-mail</div>
                    <input class="loginforms" type="text">
                    <div style="margin-top: 24px;" class="formtitles">Password</div>
                    <input class="loginforms" type="Password">
                    <div id="forgotpass">Forgot password?</div>
                    <input id="loginsubmit" type="button" value="Login">
                  </div>
                </div>
            </div>
        </div>
      </div>



-->
